body {
    background-color: #393838;
}
header {
    padding: 20px;
    color: #D8D7D7;
    font-size: 50px;
    justify-content: space-around;
    font-family: 'Alkatra', cursive;
font-family: 'Josefin Sans', sans-serif;
}
.letras-maiores {
color: #28DAE5;
font-size: 60px;
font-family: 'Alkatra', cursive;
font-family: 'Josefin Sans', sans-serif;
}

