body {
    background-color: #393838;
}
header {
    padding: 20px 0px 0px 0px;
    line-height: 20px;
    color: #D8D7D7;
    font-size: 40px;
    justify-content: baseline;
    font-family: 'Roboto Mono', monospace;
justify-content: center;
text-align: center;
}
.letras-maiores {
color: #28DAE5;
text-align: center;
text-shadow: 0px 0px 7px #28DAE5;
font-size: 50px;
font-family: 'Alkatra', cursive;
font-family: 'Josefin Sans', sans-serif;
justify-content: center;
line-height: 20px

}

.escola {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #FFFFFF;
    text-align: justify;
    padding: 30px 60px 30px 60px;
}
.paragrafo-localização {
    padding: 10px 70px 10px 70px;
    font-family: 'Open Sans', sans-serif;
}
.paragrafo-estrutura {
    padding: 10px 70px 10px 70px;
    font-family: 'Open Sans', sans-serif;
}
.paragrafo-cursos {
    padding: 10px 70px 10px 70px;
    font-family: 'Open Sans', sans-serif;
}
.titulo-colégio {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    text-align: center;
}